{% extends 'base.html' %}
{% block active_si %}active{% endblock %}
{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Statistika</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/user/logout/">Logout</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div class="col-md-12">
            <div class="card card-dark">
                <div class="card-header border-0">
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Statistika qo'shish
                        </button>
                        <h5>Summa: {{ statistika.summa }} so'm</h5>
                        <h5>Qarz: {{ statistika.qarz }} so'm</h5>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table" style="text-align: center;">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 15px">T/r</th>
                            <th scope="col" style="width: 255px; text-align: center;">Mahsulot</th>
                            <th scope="col" style="text-align: center;">Mijoz</th>
                            <th scope="col" style="text-align: center;">Sana</th>
                            <th scope="col" style="text-align: center;">Miqdor</th>
                            <th scope="col" style="text-align: center;">Umumiy summa</th>
                            <th scope="col" style="text-align: center;">To'landi</th>
                            <th scope="col" style="text-align: center;">Nasiya</th>
                            <th scope="col" style="text-align: center;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sotuv in sotuvlar %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ sotuv.mahsulot.nom }}, {{ sotuv.mahsulot.brand }}</td>
                                <td>{{ sotuv.mijoz.ism }}, {{ sotuv.mijoz.dokon }}</td>
                                <td>{{ sotuv.sana }}</td>
                                <td>{{ sotuv.miqdor }} {{ sotuv.mahsulot.olchov }}</td>
                                <td>{{ sotuv.summa }} so'm</td>
                                <td>{{ sotuv.tolandi }} so'm</td>
                                <td>{{ sotuv.qarz }} so'm</td>
                                <td>
                                    <a href="/stats/statistika/{{ sotuv.id }}/update/">
                                        <button type="submit" class="btn btn-warning" >Tahrirlash
                                        </button>
                                    </a>

                                    <button type="submit" class="btn btn-danger" data-toggle="modal"
                                            data-target="#myModaldelete{{ sotuv.id }}">
                                        O'chirish
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

      {% for sotuv in sotuvlar %}
            <div class="modal" id="myModaldelete{{ sotuv.id }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-dark">
                            <h4 class="modal-title">Mahsulotni o'chirish</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h5 class="container">Haqiqatdan ham mahsulotni o'chirmoqchimisiz?</h5>
                        </div>
                        <div class="modal-footer">
                            <a href="/stats/statistika/{{ sotuv.id }}/delete/">
                                <button type="button" class="btn btn-success">Ha</button>
                            </a>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Yo'q</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header bg-dark">
                        <h4 class="modal-title">Sotuv mahsulot</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <form method="post" id="new-product-form">
                        {% csrf_token %}
                        <div class="modal-body">
                            <label for="new-product-name">Mahsulotlar:</label>
                            <select name="mahsulot" class="form-control">
                                {% for mahsulot in mahsulotlar %}
                                    <option value="{{ mahsulot.id }}">{{ mahsulot.nom }}, {{ mahsulot.narx2 }} so'm</option>
                                {% endfor %}
                            </select>
                            <br>
                            <label for="new-client-name">Mijozlar:</label>
                            <select name="mijoz" class="form-control">
                                {% for mijoz in mijozlar %}
                                    <option value="{{ mijoz.id }}">{{ mijoz.ism }}, {{ mijoz.dokon }}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <label for="new-product-name">Sanasi:</label>
                            <input type="date" name="sana" value="2000-01-01" id="new-product-amount" class="form-control">
                            <br>
                            <label for="new-product-name">Miqdor:</label>
                            <input type="number" name="miqdor" placeholder="Miqdor narxi..." id="new-product-price"
                                   class="form-control" required>
                            <br>
                            <label for="new-product-name">Umumiy summa:</label>
                            <input type="number" name="summa" value="0" id="new-product-price"
                                   class="form-control">
                            <br>
                            <label for="new-product-name">To'landi:</label>
                            <input type="number" name="tolandi" value="0"
                                   id="new-product-amount" class="form-control">
                            <br>
                            <label for="new-product-name">Qarz:</label>
                            <input type="number" name="qarz" value="0"
                                   id="new-product-amount" class="form-control">
                            <br>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Qo`shish</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
